ProjectZero/Recources/Schemas/Common/Context.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/ProjectZero/Recources/Schemas/Common/Context"
	 xmlns:Context="http://www.tibco.com/schemas/ProjectZero/Recources/Schemas/Common/Context"
	 targetNamespace="http://www.tibco.com/schemas/ProjectZero/Recources/Schemas/Common/Context"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Context">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationId" type="xs:string"/>
				<xs:element name="parentcorrelationId" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>